Repository glotzerlab/signac: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: ''
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: ^((?!doc|tests|configobj|db).)*$
    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]

Linting error
  signac/core/syncedattrdict.py
Due: flake8, pydocstyle, mypy

Added test_setdefault and added comments
  signac/core/syncedattrdict.py
  signac/core/validators.py
  tests/test_synced_collection.py
  tests/test_validators.py
Due: flake8, pydocstyle, mypy

Update signac/core/validators.py
  signac/core/validators.py
Due: flake8, pydocstyle, mypy

Updated json_format_validator
  signac/core/validators.py
Due: flake8, pydocstyle, mypy

Apply suggestions from code review
  signac/core/synced_list.py
  signac/core/syncedattrdict.py
  signac/core/validators.py
Due: flake8, pydocstyle, mypy

Added validation layer to SyncedCollection (#378)
  setup.cfg
  signac/core/collection_json.py
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  signac/core/collection_zarr.py
  signac/core/synced_collection.py
  signac/core/synced_list.py
  signac/core/syncedattrdict.py
  signac/core/validators.py
  tests/test_synced_collection.py
  tests/test_validators.py
Due: flake8, pydocstyle, mypy

Use module-level constant for valid state point values.
  tests/test_project.py
Due: flake8, mypy

Remove dependency on pytest-subtests. (#379)
  changelog.txt
  requirements-dev.txt
  tests/test_project.py
Due: flake8, mypy

Added FileBuffer
  signac/core/buffers.py
  signac/core/caching.py
  signac/core/collection_json.py
  signac/core/synced_collection.py
  signac/core/syncedattrdict.py
  test.json
  test1.json
  tests/test_synced_collection.py
Due: flake8, pydocstyle, mypy

removed extra files
  signac/core/buffers.py
  signac/core/caching.py
  test.json
  test1.json
Due: flake8, pydocstyle, mypy

removed hashlib import
  signac/core/collection_json.py
Due: flake8, pydocstyle, mypy

Apply suggestions from code review
  signac/core/buffers.py
  signac/core/caching.py
Due: flake8, pydocstyle, mypy

Update signac/core/buffers.py
  signac/core/buffers.py
Due: flake8, pydocstyle, mypy

Update changelog.
  changelog.txt
Due: none

Add Brandon Butler to CITATION.cff.
  CITATION.cff
Due: none

Add Corwin Kerr and Pengji Zhou to contributors list.
  contributors.yaml
Due: none

Add Brandon Butler to docs credits, formatting style.
  doc/conf.py
Due: flake8, mypy

Allow pydocstyle to run in doc subdirectory.
  doc/conf.py
  setup.cfg
Due: flake8, mypy

Fix Sphinx warnings.
  doc/api.rst
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

Update Zenodo info, make Mike's name match in contributors/creators.
  .zenodo.json
  contributors.yaml
Due: none

Exclude setup.cfg from pre-commit hooks (bumpversion interferes).
  .pre-commit-config.yaml
Due: none

Fix keyring>=21.2.0 incompatibility.
  signac/common/crypt.py
Due: flake8, pydocstyle, mypy

Bump up to version 1.5.0.
  .zenodo.json
  CITATION.cff
  doc/conf.py
  setup.cfg
  setup.py
  signac/version.py
Due: flake8, pydocstyle, mypy

Release/1.5.0 (#389)
  .pre-commit-config.yaml
  .zenodo.json
  CITATION.cff
  changelog.txt
  contributors.yaml
  doc/api.rst
  doc/conf.py
  setup.cfg
  setup.py
  signac/common/crypt.py
  signac/contrib/project.py
  signac/version.py
Due: flake8, pydocstyle, mypy

Added RedisCache
  signac/core/buffers.py
  signac/core/caching.py
  tests/test_synced_collection.py
Due: flake8, pydocstyle, mypy

Linting errors
  signac/core/buffers.py
Due: flake8, pydocstyle, mypy

Added print to debugg
  tests/test_synced_collection.py
Due: flake8, mypy

Removed Print statements
  tests/test_synced_collection.py
Due: flake8, mypy

Add inherited members to dict-like classes, fix whitespace.
  doc/api.rst
Due: none

Add inherited members to dict-like classes, fix whitespace. (#398)
  doc/api.rst
Due: none

changing instances of .find_job_ids() to use .find_jobs() instead
  signac/__main__.py
  tests/test_shell.py
Due: flake8, pydocstyle, mypy

changing instances of find_job_ids() in shell tests
  tests/test_shell.py
Due: flake8, mypy

changing instances of find_job_ids() in sync tests
  tests/test_sync.py
Due: flake8, mypy

fixing incorrect deprecation statement
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

Add Twitter/GitHub stars to README.
  README.md
Due: none

Add Twitter/GitHub stars to README. (#400)
  README.md
Due: none

fixing more project unit tests
  tests/test_project.py
Due: flake8, mypy

reverting back to master
  README.md
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Due: flake8, pydocstyle, mypy

fixing find_job_ids() in __main__
  signac/__main__.py
Due: flake8, pydocstyle, mypy
