Repository glotzerlab/signac: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: ''
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: ^((?!doc|tests|configobj|db).)*$
    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]

adding reference links to be used by signac-docs
  doc/cli.rst
Due: none

Changed fixture to have 'class' scope
  tests/test_synced_collection.py
Due: flake8, mypy

improve cli docs (#359)
  doc/api.rst
  doc/cli.rst
  doc/conf.py
  doc/index.rst
Due: flake8, mypy

Added test for redis
  tests/test_synced_collection.py
Due: flake8, mypy

Added test for redis-backend
  tests/test_synced_collection.py
Due: flake8, mypy

Added test for redis backend and changed Zarr to ZARR
  tests/test_synced_collection.py
Due: flake8, mypy

Linting changes
  tests/test_synced_collection.py
Due: flake8, mypy

Added test for mongocollection
  signac/core/mongodbcollection.py
  tests/test_synced_collection.py
Due: flake8, mypy

Linting Changes
  signac/core/mongodbcollection.py
  tests/test_synced_collection.py
Due: flake8, mypy

Added comments
  tests/test_synced_collection.py
Due: flake8, mypy

Added test for mongodb server
  tests/test_synced_collection.py
Due: flake8, mypy

Moved import to class __init__
  signac/core/mongodbcollection.py
  signac/core/rediscollection.py
  signac/core/zarrcollection.py
Due: flake8, pydocstyle, mypy

removed numcodec import error
  signac/core/zarrcollection.py
Due: flake8, pydocstyle, mypy

Updated documentation
  signac/core/mongodbcollection.py
  signac/core/rediscollection.py
  signac/core/zarrcollection.py
  tests/test_synced_collection.py
Due: flake8, pydocstyle, mypy

Added cache
  signac/core/buffered_collection.py
  signac/core/caching.py
  signac/core/jsoncollection.py
  signac/core/synced_collection.py
  signac/core/syncedattrdict.py
Due: flake8, pydocstyle, mypy

Linting errors
  signac/core/buffered_collection.py
  signac/core/caching.py
  signac/core/jsoncollection.py
  signac/core/synced_collection.py
Due: flake8, pydocstyle, mypy

Added comments and updated bufferedCollection
  signac/core/buffered_collection.py
Due: flake8, pydocstyle, mypy

Added JSONFornmatValidator
  signac/core/jsoncollection.py
Due: flake8, pydocstyle, mypy

Added AttrDictFormatValidator
  signac/core/syncedattrdict.py
Due: flake8, pydocstyle, mypy

Changed API as suggested
  signac/core/collection_json.py
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  signac/core/collection_zarr.py
Due: flake8, pydocstyle, mypy

Documentation changes
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  signac/core/collection_zarr.py
Due: flake8, pydocstyle, mypy

Change name MongoCollection to MongoDBCollection
  signac/core/collection_mongodb.py
Due: flake8, mypy

renaming sync test to be recognized by pytest
  tests/test_sync.py
Due: flake8, mypy

fixing cli src/dst checking
  signac/__main__.py
Due: flake8, pydocstyle, mypy

fixing CLI error message formatting
  signac/__main__.py
Due: flake8, pydocstyle, mypy

Moved error for name and parent to synced_collection
  signac/core/collection_json.py
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  signac/core/collection_zarr.py
  signac/core/synced_collection.py
  signac/core/syncedattrdict.py
Due: flake8, pydocstyle, mypy

Removed pass
  signac/core/collection_json.py
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  signac/core/collection_zarr.py
Due: flake8, pydocstyle, mypy

Implemented deepcopy for MongodbCollection and RedisCollection
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
Due: flake8, pydocstyle, mypy

Moved testdata to confest.py
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  tests/conftest.py
Due: flake8, pydocstyle, mypy

Moved backend test to specific file
  signac/core/collection_mongodb.py
  signac/core/collection_redis.py
  tests/conftest.py
  tests/test_mongo_collection.py
  tests/test_redis_collection.py
  tests/test_synced_collection.py
  tests/test_zarr_collection.py
Due: flake8, pydocstyle, mypy

Linting errors
  signac/core/collection_mongodb.py
  tests/test_mongo_collection.py
  tests/test_redis_collection.py
Due: flake8, mypy

Error correction
  signac/core/collection_mongodb.py
  tests/test_mongodb_collection.py
Due: flake8, mypy

Added __deepcopy__ for zarr
  signac/core/collection_zarr.py
Due: flake8, pydocstyle, mypy

Changed name of MongoDict and MongoList to MongoDBDict and MongoDBList
  signac/core/collection_mongodb.py
  tests/test_mongodb_collection.py
Due: flake8, mypy

Changed documentation and __deepcopy__ in zarr collection
  signac/core/collection_zarr.py
Due: flake8, pydocstyle, mypy

Add CLI output printing dependency to requirements.txt
  doc/requirements.txt
Due: none

Moved Caching to CachedSyncedCollection
  signac/core/buffered_collection.py
  signac/core/caching.py
  signac/core/jsoncollection.py
  signac/core/synced_collection.py
  signac/core/synced_list.py
  signac/core/syncedattrdict.py
  tests/test_synced_collection.py
Due: flake8, pydocstyle, mypy

Linting changes
  signac/core/buffered_collection.py
  signac/core/caching.py
  signac/core/jsoncollection.py
  signac/core/synced_collection.py
  tests/test_synced_collection.py
Due: flake8, pydocstyle, mypy
