Repository glotzerlab/signac: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: ''
    hooks:
    -   id: end-of-file-fixer
        exclude: 'setup.cfg'
    -   id: trailing-whitespace
        exclude: 'setup.cfg'
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
        files: ^((?!doc|tests|configobj|db).)*$
    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]

fixing deprecation message
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

updating deprecation warning
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

adding tests for project.py
  tests/test_project.py
Due: flake8, mypy

replacing find_job_ids() in test_sync.py
  tests/test_sync.py
Due: flake8, mypy

updating shell tests
  tests/test_shell.py
Due: flake8, mypy

adding to JobsCursor next() deprecation message
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

fixing next() deprecation message
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

updating more tests for project.py
  tests/test_project.py
Due: flake8, mypy

adding chagnes to test_import_own_project
  tests/test_project.py
Due: flake8, mypy

fixing accidentally deleted changes from master
  README.md
Due: none

Update signac/contrib/project.py
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

adding some links to CLI
  signac/contrib/job.py
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

adding project CLI refs
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

adding job CLI refs
  signac/contrib/job.py
Due: flake8, pydocstyle, mypy

adding statepoint CLI refs
  signac/contrib/job.py
Due: flake8, pydocstyle, mypy

adding diff CLI refs
  signac/diff.py
Due: flake8, pydocstyle, mypy

fixing rogue spaces
  signac/contrib/job.py
  signac/diff.py
Due: flake8, pydocstyle, mypy

Add CLI references.
  signac/contrib/job.py
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

Use inline reference.
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

switching cli-init to signac-cli-init
  doc/cli.rst
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

Reformat links.
  signac/contrib/job.py
  signac/contrib/project.py
  signac/diff.py
Due: flake8, pydocstyle, mypy

Improve docstring.
  signac/contrib/job.py
Due: flake8, pydocstyle, mypy

Fix newlines.
  signac/contrib/project.py
Due: flake8, pydocstyle, mypy

Add support for h5py >=3.0.0.
  signac/core/h5store.py
Due: flake8, pydocstyle, mypy

Update changelog.
  changelog.txt
Due: none

add cross references pointing to the CLI docs (#401)
  doc/cli.rst
  signac/contrib/job.py
  signac/contrib/project.py
  signac/diff.py
Due: flake8, pydocstyle, mypy

Add support for h5py >=3.0.0. (#411)
  changelog.txt
  signac/core/h5store.py
Due: flake8, pydocstyle, mypy

Use select to ignore unwanted flake8 plugins.
  setup.cfg
Due: none

Ignore default errors manually to avoid conflict with unwanted flake8 plugins.
  setup.cfg
Due: none

Show diff if pre-commit fails.
  .circleci/config.yml
Due: none

Apply flake8 changes.
  signac/cite.py
  signac/contrib/schema.py
  signac/core/utility.py
  tests/test_project.py
Due: flake8, pydocstyle, mypy

Apply modernizations suggested by pyupgrade.
  .sync-zenodo-metadata.py
  benchmark.py
  setup.py
  signac/__main__.py
  signac/common/config.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/collection.py
  signac/contrib/filesystems.py
  signac/contrib/filterparse.py
  signac/contrib/import_export.py
  signac/contrib/indexing.py
  signac/contrib/job.py
  signac/contrib/linked_view.py
  signac/contrib/migration/__init__.py
  signac/contrib/mpipool.py
  signac/contrib/project.py
  signac/contrib/schema.py
  signac/contrib/utility.py
  signac/core/attrdict.py
  signac/core/dict_manager.py
  signac/core/h5store.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/core/utility.py
  signac/errors.py
  signac/sync.py
  signac/syncutil.py
  tests/test_buffered_mode.py
  tests/test_collection.py
  tests/test_diff.py
  tests/test_h5store.py
  tests/test_indexing.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_synced_attrdict.py
Due: flake8, pydocstyle, mypy

Skip exceptions for files that no longer need them.
  setup.cfg
Due: none

Add pre-commit hook for pyupgrade.
  .pre-commit-config.yaml
Due: none

Added mac test.
  .circleci/config.yml
Due: none

Added macos to orbs????
  .circleci/config.yml
Due: none

Setup macos? maybe?
  .circleci/config.yml
Due: none
